<section class="before-and-after">

    <div class="before-and-after__content width-container">

        <div class="before-and-after__content-head">
            <div class="before-and-after__content-head-text">
                <h2>
                    See the Difference – Before & After
                </h2>
            </div>
            <div class="before-and-after__content-head-btns">
                <button class="left">
                    <img src="../img/arrow-left.png" alt="arrow-left">
                </button>
                <button class="right">
                    <img src="../img/arrow-right.png" alt="arrow-right">
                </button>
            </div>
        </div>

        <div class="before-and-after__content-img">
            <img src="../img/Frame 38489.png" alt="before-and-after" width="1440" height="720">
        </div>

    </div>

</section>