  <section class="burgerSwiper">
    <div class="burgerSwiper__content BurgerSwiper swiper">
      <div class="burgerSwiper__content-wrapper BurgerSwiper-wrapper swiper-wrapper">
        <div class="burgerSwiper__content-wrapper-menu menu swiper-slide">
          Menu slide
        </div>
        <div class="burgerSwiper__content-wrapper-content content swiper-slide">
          <div class="burgerSwiper__content-wrapper-burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="google-reviews">
            <img src="https://via.placeholder.com/300x100/2c8dfb/ffffff?text=Google+Reviews" alt="google-reviews">
          </div>
          Content slide
        </div>
      </div>
    </div>
  </section>