<section class="burgerSwiper">

    <div class="burgerSwiper__content BurgerSwiper">

        <div class="burgerSwiper__content-wrapper BurgerSwiper-wrapper">

            <div class="burgerSwiper__content-wrapper-menu menu swiper-slide">
                slide menu
            </div>

            <div class="burgerSwiper__content-wrapper-content content swiper-slide">
                <div class="burgerSwiper__content-wrapper-burger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="google-reviews">
                    <img src="../img/Frame 38449.png" alt="google-reviews">
                </div>
            </div>

        </div>

    </div>

</section>