<section class="chicago">

    <div class="chicago__content">

        <div class="chicago__content-main">
            <div class="chicago__content-main-head">
                <div class="chicago__content-main-head-text">
                    <h2>
                        Serving All of Chicago & Surrounding Areas
                    </h2>
                </div>
                <div class="chicago__content-main-head-cities">
                    <div class="chicago__content-main-head-cities-Naperville">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Naperville</span>
                    </div>
                    <div class="chicago__content-main-head-cities-Aurora">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Aurora</span>
                    </div>
                    <div class="chicago__content-main-head-cities-Elmhurst">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Elmhurst</span>
                    </div>
                    <div class="chicago__content-main-head-cities-Des-Plaines">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Des Plaines</span>
                    </div>
                    <div class="chicago__content-main-head-cities-Arlington-Heights">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Arlington Heights</span>
                    </div>
                    <div class="chicago__content-main-head-cities-Glenview-Park-Ridge">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Glenview, Park Ridge</span>
                    </div>
                    <div class="chicago__content-main-head-cities-Downers-Grove">
                        <img src="../img/map-pin.png" alt="map-pin">
                        <span>Downers Grove</span>
                    </div>
                </div>
            </div>
            <div class="chicago__content-main-head-btn">
                <img src="../img/Frame 2.png" alt="btn">
            </div>
        </div>

        <div class="chicago__content-map">
            <img src="../img/Frame 38490.png" alt="chicago-map">
        </div>

    </div>

</section>