<section class="client-reviews">

    <div class="client-reviews__content">

        <div class="client-reviews__content-head">
            <div class="before-and-after__content-head-text">
                <h2>
                    What Our Clients Say
                </h2>
            </div>
            <div class="before-and-after__content-head-btns">
                <button class="left">
                    <img src="../img/arrow-left.png" alt="arrow-left">
                </button>
                <button class="right">
                    <img src="../img/arrow-right.png" alt="arrow-right">
                </button>
            </div>
        </div>

        <div class="client-reviews__content-reviews">
            <div class="client-reviews__content-reviews-review1">
               <img src="../img/Frame 38453.png" alt="review1">
            </div>
            <div class="client-reviews__content-reviews-review2">
                <img src="../img/Frame 38454.png" alt="review2">
            </div>
            <div class="client-reviews__content-reviews-review3">
                <img src="../img/Frame 38455.png" alt="review3">
            </div>
        </div>

        <div class="client-reviews__content-google-reviews">
            <img src="../img/Frame 38449.png" alt="google-reviews">
        </div>

    </div>

</section>