<section class="faq">
  <div class="faq__container width-container">
    <div class="faq__container-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="faq__container-questions">

      <div class="question-items">
        <div class="question-title">
          <h3>How often should I clean gutters?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>How long does it take?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>Do I need to be home?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>What if it rains?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>Are you insured?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>How often should I clean gutters?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>How long does it take?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>Do I need to be home?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>What if it rains?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

      <div class="question-items">
        <div class="question-title">
          <h3>Are you insured?</h3>
          <img src="../img/arrow-accordion.svg" alt="arrow">
        </div>

        <div class="question-hide-text">
          <p>
            We recommend cleaning your gutters at least twice a year — in the
            spring and fall. However, if your home is surrounded by trees or
            prone to heavy storms, more frequent cleanings may be necessary to
            prevent clogs and water damage.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
