<footer class="footer">
    <div class="footer__content">

        <div class="footer-container__content-col1">
            <div class="footer-container__content-col1-logo">
                <a href="#">
                    <img src="../img/logo.png" alt="logo">
                </a>
            </div>
            <div class="footer-container__content-col1-text">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
            </div>
        </div>

        <div class="footer-container__content-col2">
            <p class="footer-container__content-col2-heading">Menu</p>
            <div class="footer-container__content-col2-menulist">
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Pricing</a>
                <a href="#">Reviews</a>
                <a href="#">FaQ</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div class="footer-container__content-col3">
            <p class="footer-container__content-col3-heading">Contact</p>
            <div class="footer-container__content-col3-contacts">
                <div class="footer-container__content-col3-contacts-mail">
                    mail
                    <p class="footer-container__content-col3-contacts-mail-text">lifefreedom96@gmail.com</p>
                </div>
                <div class="footer-container__content-col3-contacts-adress">
                    map-pin
                    <p class="footer-container__content-col3-contacts-adress-text">
                        6134 West Addison Street, <br>Chicago Il, 60634
                    </p>
                </div>
            </div>
            <div class="footer-container__content-col3-phone">
                phone
                <a href="#">+773 - 717 - 9140 </a>
            </div>
            <div class="footer-container__content-col3-socialmedias">
                instagram
                facebook
            </div>
        </div>

    </div>

</footer>