<footer class="footer">
    <div class="footer__content width-container">

        <div class="footer__content-col1">
            <div class="footer__content-col1-logo">
                <a href="#" class="logo">
                    <img src="../img/logo.png" alt="logo">
                </a>
            </div>
            <div class="footer__content-col1-text">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
            </div>
        </div>

        <div class="footer__content-col2">
            <p class="footer__content-col2-heading">Menu</p>
            <div class="footer__content-col2-menulist">
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Pricing</a>
                <a href="#">Reviews</a>
                <a href="#">FaQ</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div class="footer__content-col3">
            <p class="footer__content-col3-heading">Contact</p>
            <div class="footer__content-col3-contacts">
                <div class="footer__content-col3-contacts-mail">                    
                    <img src="../img/mail.png" alt="mail">
                    <span class="footer__content-col3-contacts-mail-text">lifefreedom96@gmail.com</span>
                </div>
                <div class="footer__content-col3-contacts-adress">
                    <img src="../img/map-pin.png" alt="map-pin">
                    <span class="footer__content-col3-contacts-adress-text">6134 West Addison Street, <br>Chicago Il, 60634</span>
                </div>
            </div>
            <div class="footer__content-col3-phone">
                <button>
                    <img src="../img/phone-icon.png" alt="phone">
                    <span>773 - 717 - 9140</span>
                </button>
            </div>
            <div class="footer__content-col3-socialmedias">
                <a href="#">
                    <img class="instagram-icon" src="../img/instagram.png" alt="instagram-logo">
                    <img src="../img/facebook.png" alt="facebook-logo">
                </a>
            </div>
        </div>

    </div>

</footer>