<section class="form">
    <div class="form__content">

        <div class="form__content-text">
            <h1>
                Get A Free Estimate Today
            </h1>
            <p>
                We'll call you back within 1 hour with a custom quote
            </p>
        </div>

        <div class="form__content-form">

            <form class="form__content-form-forms">
                <fieldset class="form__content-form-forms-col1">
                    <label for="full-name">Full Name</label><br>
                    <input type="text" name="full-name" id="full-name" value="Enter Full Name">
                </fieldset>
                <fieldset class="form__content-form-forms-col2">
                    <label for="phone">Phone</label><br>
                    <input type="text" name="phone" id="phone" value="000 000-0000">
                </fieldset>
                <fieldset class="form__content-form-forms-col3">
                    <button class="form__content-form-forms-col3-btn">Submit Request</button>
                </fieldset>

                <fieldset class="form__content-form-checkbox">
                    <input type="checkbox" name="subscribe" id="subscribe" value="yes">
                    <label for="subscribe">YES! I want to receive a $25 OFF discount as a new customer!</label><br>
                </fieldset>
            </form>

            

        </div>

    </div>
</section>