<header class="header">
  <nav class="header__navigation width-container">
    <div class="header__navigation-logo">
      <a href="#">
        <img src="../img/logo.png" alt="logo" />
      </a>
    </div>

    <ul class="header__navigation-menu">
      <li>
        <a href="#">Home test</a>
      </li>

      <li>
        <a href="#">Services</a>
      </li>

      <li>
        <a href="#">Pricing</a>
      </li>

      <li>
        <a href="#">Reviews</a>
      </li>

      <li>
        <a href="#">FAQ</a>
      </li>

      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <div class="header__navigation-contact">
      <a href="#">phone</a>
      <a href="#"> 773 - 717 - 9140 </a>
    </div>
  </nav>
</header>
