<section class="hero" style="background-image: url(../img/hero.png);">

    <div class="hero__content  width-container">

        <div class="hero__content-text">
            <h1>
                Chicago Gutter Cleaning You 
                <br>
                Can Count On
            </h1>

            <p>
                 Fast, affordable & hassle-free. Serving all Chicago and nearby suburbs.
            </p>
        </div>

        <div class="hero__content-btns">
            <a href="#" class="hero-number">
                <img src="../img/phone-icon.png" alt="phone">
                <span>773 - 717 - 9140</span>
            </a>

            <a href="#" class="hero-reviews">
                <img src="../img/ButtonReviews.png" alt="btn">
            </a>
        </div>

    </div>

</section>