<section class="horizontal-reviews">

    <div class="horizontal-reviews__content width-container swiper horizontalSwiper">

        <div class="horizontal-reviews__content-reviews swiper-wrapper">
            <div class="horizontal-reviews__content-reviews-review1 swiper-slide">
               <img src="../img/Frame 38453.png" alt="review1">
            </div>
            <div class="horizontal-reviews__content-reviews-review2 swiper-slide">
                <img src="../img/Frame 38454.png" alt="review2">
            </div>
            <div class="horizontal-reviews__content-reviews-review3 swiper-slide">
                <img src="../img/Frame 38455.png" alt="review3">
            </div>
            <div class="horizontal-reviews__content-reviews-review1 swiper-slide">
               <img src="../img/Frame 38453.png" alt="review1">
            </div>
            <div class="horizontal-reviews__content-reviews-review2 swiper-slide">
                <img src="../img/Frame 38454.png" alt="review2">
            </div>
            <div class="horizontal-reviews__content-reviews-review3 swiper-slide">
                <img src="../img/Frame 38455.png" alt="review3">
            </div>
        </div>

    </div>

</section>