<section class="pricing">

    <div class="pricing__content width-container">
        <div class="pricing__content-price">

            <div class="pricing__content-price-title">
                <h2>Simple Pricing. No Surprises.</h2>
                <p> Starting at $99 for Single-Story Homes <br> Custom quote based on roof size, height, and debris</p>
            </div>

            <div class="pricing__content-price-cards">

                <div class="pricing__content-price-cards-card">

                    <img src="../img/Rectangle 4.svg" alt="Single-Story Home" height="64px" width="64px">

                    <div class="pricing__content-price-cards-card-text1 text">
                        <h3>Single-Story Home</h3>
                        <p>Standard roofline, average debris</p>
                    </div>

                    <div class="pricing__content-price-cards-card-price">
                        <p>Starting at</p>
                        <h3>$ 99</h3>
                    </div>

                </div>

                <div class="pricing__content-price-cards-card">

                    <img src="../img/Rectangle 4.png" alt="Two-Story Home" height="64px" width="64px">

                    <div class="pricing__content-price-cards-card-text2 text">
                        <h3>Two-Story Home</h3>
                        <p>Higher access, more debris</p>
                    </div>

                    <div class="pricing__content-price-cards-card-price">
                        <p>Starting at</p>
                        <h3>$ 149</h3>
                    </div>

                </div>

                <div class="pricing__content-price-cards-card">

                    <img src="../img/Rectangle 4 (1).png" alt="Large / Complex Roof" height="64px" width="64px">

                    <div class="pricing__content-price-cards-card-text3 text">
                        <h3>Large / Complex Roof</h3>
                        <p>We’ll assess size, slope & obstructions</p>
                    </div>

                    <div class="pricing__content-price-cards-card-price">
                        <p>Custom</p>
                        <h3>Quote</h3>
                    </div>

                </div>

            </div>

        </div>

        <div class="pricing__content-form">

            <div class="pricing__content-form-title">
                <h3>Get A Free Estimate Today</h3>
                <p>We'll call you back within 1 hour with a custom quote</p>
            </div>

            <div class="pricing__content-form-data">
                <form class="pricing__content-form-data-forms">
                    <fieldset class="pricing__content-form-data-forms-name">
                        <label class="label" for="full-name">Full Name</label><br>
                        <input class="input" type="text" name="full-name" id="full-name" value="Enter Full Name">
                    </fieldset>
                    <fieldset class="pricing__content-form-data-forms-phone">
                        <label class="label" for="phone">Phone</label><br>
                        <input class="input" type="text" name="phone" id="phone" value="000 000-0000">
                    </fieldset>
                    <fieldset class="pricing__content-form-data-forms-checkbox">
                        <input type="checkbox" name="subscribe" id="subscribe" value="yes">
                        <label class="text" for="subscribe">YES! I want to receive a $25 OFF discount as a new
                            customer!</label><br>
                    </fieldset>
                </form>
            </div>

            <div class="pricing__content-form-btn">
                <fieldset class="pricing__content-form-btn-form">
                    <button class="pricing__content-form-btn-form-btn">Submit Request</button>
                </fieldset>
                <p>By submitting, I consent to be contacted at the number provided via automated <br> technology.</p>
            </div>

        </div>

    </div>

</section>