<section class="services">
  <div class="services__container width-container">
    <div class="services__container-title">
      <h2>Our Gutter Cleaning Services</h2>

      <p>
        We offer comprehensive gutter maintenance services to keep your home
        protected <br />
        from water damage — all performed with safety, care, and attention to
        detail.
      </p>
    </div>

    <div class="services__container-cards">
      <div class="service-card">
        <div class="card-image">
          <img src="../img/card1.png" alt="image" />
        </div>
        <div class="card-info">
          <div class="card-title">
            <h3>Downspout Unclogging</h3>
          </div>
          <div class="card-text">
            <p>
              We make sure your downspouts are fully clear, so water can flow
              freely away from your home’s foundation.
            </p>
          </div>
        </div>
      </div>

      <div class="service-card">
        <div class="card-image">
          <img src="../img/card2.png" alt="image" />
        </div>
        <div class="card-info">
          <div class="card-title">
            <h3>Downspout Unclogging</h3>
          </div>
          <div class="card-text">
            <p>
              We make sure your downspouts are fully clear, so water can flow
              freely away from your home’s foundation.
            </p>
          </div>
        </div>
      </div>

      <div class="service-card">
        <div class="card-image">
          <img src="../img/card3.png" alt="image" />
        </div>
        <div class="card-info">
          <div class="card-title">
            <h3>Downspout Unclogging</h3>
          </div>
          <div class="card-text">
            <p>
              We make sure your downspouts are fully clear, so water can flow
              freely away from your home’s foundation.
            </p>
          </div>
        </div>
      </div>

      <div class="service-card">
        <div class="card-image">
          <img src="../img/card4.png" alt="image" />
        </div>
        <div class="card-info">
          <div class="card-title">
            <h3>Downspout Unclogging</h3>
          </div>
          <div class="card-text">
            <p>
              We make sure your downspouts are fully clear, so water can flow
              freely away from your home’s foundation.
            </p>
          </div>
        </div>
      </div>
    </div>


    
  </div>
</section>
