<section class="why">

    <div class="why__content width-container">

        <div class="why__content-text">
            <h2>
                Why Cleaning Your Gutters is Essential
            </h2>
            <p>
                We offer comprehensive gutter maintenance services 
                to keep your home protected <br>from water damage — 
                all performed with safety, care, and attention to detail.
            </p>
        </div>

        <div class="why__content-cards">
            <div class="why__content-cards-card1">
                <div class="why__content-cards-card1-icon">
                    <img src="../img/Vector.png" alt="drop of wster">
                </div>
                <div class="why__content-cards-card1-text">
                    <h3>
                        Prevent Water Damage
                    </h3>
                    <p>
                        Clogged gutters can overflow and damage your foundation, roof, or siding.
                    </p>
                </div>
            </div>
            <div class="why__content-cards-card2">
                <div class="why__content-cards-card2-icon">
                    <img src="../img/Group.png" alt="rat">
                </div>
                <div class="why__content-cards-card2-text">
                    <h3>
                        Avoid Pest Infestation
                    </h3>
                    <p>
                         Debris-filled gutters are a perfect nest for rodents, insects, and birds.
                    </p>
                </div>
            </div>
            <div class="why__content-cards-card3">
                <div class="why__content-cards-card3-icon">
                    <img src="../img/Vector (1).png" alt="bacterium">
                </div>
                <div class="why__content-cards-card3-text">
                    <h3>
                        Prevent Mold & Ro
                    </h3>
                    <p>
                        Standing water leads to wood rot, mildew, and costly repairs.
                    </p>
                </div>
            </div>
            <div class="why__content-cards-card4">
                <div class="why__content-cards-card4-icon">
                    <img src="../img/Group (1).png" alt="soap-bar">
                </div>
                <div class="why__content-cards-card4-text">
                    <h3>
                        Improve Roof Health
                    </h3>
                    <p>
                        Clean gutters help your roof drain properly and last longer.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>