.before-and-after {
    display: flex;
    justify-content: center;

    &__content {
        padding-top: 90px;
        padding-bottom: 80px;
        overflow: hidden;
        width: 100% !important;
        height: 900px;
        display: block;

        @media screen and (max-width: 1200px) {
            height: 700px;
        }

        @media screen and (max-width: 992px) {
            height: 600px;
        }

        @media screen and (max-width: 768px) {
            height: 500px;
        }

        @media screen and (max-width: 576px) {
            height: 400px;
        }

        &-title {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 52px;

            @media screen and (max-width: 992px) {
                font-size: 30px;
            }

            @media screen and (max-width: 768px) {
                font-size: 25px;
            }
        }

        &-buttons {
            display: inline-flex;
            float: right;

            &-container {
                display: inline-flex;
                gap: 20px;

                .left {
                    display: inline-flex;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border:
                        rgba(10, 109, 79, 1),
                        1px solid;
                    border-radius: 8px;
                }
                .right {
                    display: inline-flex;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border:
                        rgba(10, 109, 79, 1),
                        1px solid;
                    border-radius: 8px;
                }
            }
        }

        &-wrapper {
            
            .swiper-slide{
                width: 100% !important;

                img{
                    width: 100%;
                    display: block;
                    object-fit: fill;
                }
            }
        }
    }
}
