.chicago {
    display: flex;
    justify-content: center;
    background-color: #064087;
    color: white;
    background: linear-gradient(to bottom,
            rgba(6, 64, 135, 1) 0%,
            rgba(6, 64, 135, 1) 80%,
            /* основний колір більший */
            rgba(233, 246, 255, 1) 80%,
            rgba(233, 246, 255, 1) 100%);

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 100px;
        padding-bottom: 100px;

        @media screen and (max-width: 576px) {
            padding-bottom: 35px;
        }

        &-main {

            @media screen and (max-width: 1280px) {
                width: auto;
            }

            &-head {

                &-text {
                    font-weight: 700;
                    font-size: 40px;
                    padding-bottom: 60px;

                    @media screen and (max-width: 991px) {
                        h2 {
                            font-size: 30px;
                        }
                    }

                    @media screen and (max-width: 768px) {
                        h2 {
                            font-size: 21px;
                        }

                        width: auto;
                    }
                }

                &-cities {
                    display: flex;
                    flex-wrap: wrap;
                    font-weight: 400;
                    font-size: 24px;
                    gap: 25px;
                    padding-bottom: 164px;

                    @media screen and (max-width: 991px) {
                        span {
                            font-size: 18px;
                        }
                    }

                    @media screen and (max-width: 768px) {
                        span {
                            font-size: 12px;
                        }
                    }

                    @media screen and (max-width: 576px) {
                        padding-bottom: 50px;
                    }

                    &-Naperville {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Aurora {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Elmhurst {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Des-Plaines {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Arlington-Heights {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Glenview-Park-Ridge {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Downers-Grove {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }
                }
            }

            &-head-btn {
                @media screen and (max-width: 768px) {
                    img {
                        width: 70%;
                    }

                    width: auto;
                }

            }
        }

        &-map {
            padding-left: 54px;

            @media screen and (max-width: 991px) {
                img {
                    width: 387px;
                }
            }

            @media screen and (max-width: 768px) {
                img {
                    width: 309px;
                }

                padding-left: 0;
            }

            @media screen and (max-width: 576px) {
                img {
                    width: 240px;
                }
            }
        }
    }
}