.chicago {
    display: flex;
    justify-content: center;
    background-color: #064087;
    color: white;
    background: linear-gradient(
        to bottom, 
        rgba(6, 64, 135, 1) 0%,      /* початок */
        rgba(6, 64, 135, 1) 62%,     /* колір тримається до 70% */
        rgba(233, 246, 255, 1) 62%,  /* початок другого кольору від 70% */
        rgba(233, 246, 255, 1) 100%  /* кінець */
    );

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 100px;
        padding-bottom: 100px;

        &-main {

            &-head {

                &-text {
                    font-weight: 700;
                    font-size: 40px;
                    padding-bottom: 60px;
                }

                &-cities {
                    display: flex;
                    flex-wrap: wrap;
                    font-weight: 400;
                    font-size: 24px;
                    gap: 25px;
                    padding-bottom: 164px;

                    &-Naperville {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Aurora {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Elmhurst {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Des-Plaines {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Arlington-Heights {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Glenview-Park-Ridge {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    &-Downers-Grove {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }
                }
            }
        }

        &-map {
            padding-left: 54px;
        }
    }
}