.client-reviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #e9f6ff;

    &__content {
        height: 430px;
        padding-top: 70px;
        padding-bottom: 100px;
        max-width: 1140px;
        width: 90%;

        &-head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 40px;
            padding-bottom: 50px;

            &-btns {
                display: flex;
                align-items: flex-end;
                gap: 20px;

                .left {
                    display: flex;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border:
                        rgba(10, 109, 79, 1),
                        1px solid;
                    border-radius: 8px;
                }
                .right {
                    display: flex;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border:
                        rgba(10, 109, 79, 1),
                        1px solid;
                    border-radius: 8px;
                }
            }
        }

        &-reviews {
            display: flex;
            font-weight: 400;
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 35px;

            @media screen and (max-width: 1400px) {
                max-width: 760px;
            }

            @media screen and (max-width: 1200px) {
                max-width: 380px;
                
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;            }
        }

        &-google-reviews {
            text-align: center;
            padding-top: 30px;
            img {
                object-fit: contain;
            }
        }
    }

    &__google-reviews{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        max-width: 1140px;
    }
}
