.faq {
    display: flex;
    justify-content: center;
    background-color: #e9f6ff;
    padding: 50px 0;

    &__container {
        counter-reset: number; // Додаємо лічильник для контейнера

        @media screen and (max-width: 1470px) {
            max-width: 1280px;
        }

        @media screen and (max-width: 1280px) {
            max-width: 1120px;
        }

        @media screen and (max-width: 1180px) {
            max-width: 1000px;
        }

        @media screen and (max-width: 1040px) {
            max-width: 900px;
        }

        @media screen and (max-width: 920px) {
            max-width: 800px;
        }

        @media screen and (max-width: 820px) {
            max-width: 700px;
        }

        @media screen and (max-width: 720px) {
            max-width: 600px;
        }
        
        &-title {
            margin-bottom: 60px;
            h2 {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            p {
                font-size: 18px;
                line-height: 1.3;
            }
        }

        &-questions {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .question-items {
                cursor: pointer;
                position: relative;

                &::before {
                    counter-increment: number;
                    content: counter(number, decimal-leading-zero);
                    font-weight: 700;
                    line-height: 1;
                    background: #000000;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: translateY(39%);
                    position: absolute;
                    z-index: 0;
                }

                .question-title{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 60px;

                    img{
                        rotate: 180deg;
                        width: 24px;
                        height: 24px;
                        transition: all 0.3s ease-in-out;
                    }

                    h3{
                        margin-bottom: 15px;
                    }
                }

                .question-hide-text{
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                    padding-left: 60px;
                }
            }

            .question-items.active-accordion{
                .question-title{
                    img{
                        rotate: 0deg;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .question-hide-text{
                    max-height: 500px;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}