.footer {
    background-color: #064087;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;

    &__content {
        height: 270px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        @media screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            gap: 100px;
        }

        &-col1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 270px;

            @media screen and (max-width: 576px) {
                display: none;
            }

            a {
                color: white;
            }
        }

        &-col2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 240px;

            &-menulist {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            p {
                color: white;
                padding-bottom: 20px;
                font-size: 22px;

                @media screen and (max-width: 768px) {
                    font-size: 18px !important;
                }
            }

            a {
                color: white;
                font-size: 16px;

                @media screen and (max-width: 768px) {
                    font-size: 14px !important;
                }
            }
        }

        &-col3 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 270px;
            color: white;

            p {
                @media screen and (max-width: 768px) {
                    font-size: 18px !important;
                }
            }

            &-heading {
                padding-bottom: 30px;
                color: white;
                font-size: 22px !important;


            }

            &-contacts {

                &-mail {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    padding-bottom: 25px;

                    span {
                        @media screen and (max-width: 768px) {
                            font-size: 14px !important;
                        }
                    }
                }

                &-adress {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding-bottom: 25px;

                    img {
                        width: 28px;
                        height: 28px;
                        margin-left: -2px;
                    }

                    span {
                        @media screen and (max-width: 768px) {
                            font-size: 13px !important;
                        }
                    }
                }
            }

            &-phone {
                width: 85%;
                height: 45px;
                background-color: #09694c;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 9px;
                border-radius: 4px;
                padding-top: 14px;
                padding-bottom: 14px;

                button {
                    background: none;
                    border: none;
                    color: white;
                }

                a {

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            &-socialmedias {
                padding-top: 20px;

                a {
                    display: flex;
                    gap: 20px;
                }
            }

            a {
                color: white;
                font-size: 16px;
            }

            p {
                color: white;
                font-size: 16px;
            }
        }
    }
}