.header {
    display: flex;
    justify-content: center;
    background-color: #064087;

    &__navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media screen and (max-width: 1640px) {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 200px;
        }

        @media screen and (max-width: 1400px) {
            gap: 130px;
            justify-content: center;
        }

        @media screen and (max-width: 1200px) {
            display: flex;
            justify-content: center;
        }

        @media screen and (max-width: 576px) {
            gap: 0px;
            padding: 20px 0px 20px 0px;
        }

        &-logo {
              
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 35px;

            @media screen and (max-width: 1200px) {
                display: none;
            }

            li {
                .home {
                    white-space: nowrap;
                }

                a {
                    color: white;
                }
            }
        }

        &-contact {
            width: 205px;
            height: 45px;
            background-color: #09694c;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9px;
            border-radius: 4px;

            @media screen and (max-width: 1200px) {
                display: none;
            }

            a {
                color: white;
            }
        }
    }

    &__burgerMenu{
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
        }
    }
}