.header {
    display: flex;
    justify-content: center;
    background-color: #064087;

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
    }

    &__burgerMenu {
        display: none;
        width: 50px;
        height: 50px;
        margin: 20px 0 20px 20px;
        border: none;
        background-color: white;
        border-radius: 10px;

        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 7px;
        }

        .line {
            background-color: black;
            width: 30px;
            height: 4px;
            border-radius: 10px;
        }
    }

    &__navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media screen and (max-width: 1640px) {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 200px;
        }

        @media screen and (max-width: 1400px) {
            gap: 130px;
            justify-content: center;
        }

        @media screen and (max-width: 576px) {
            gap: 0px;
            padding: 20px 0px 20px 0px;
        }

        &-logo {
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 35px;

            @media screen and (max-width: 1200px) {
                z-index: 999;
                position: absolute;
                flex-direction: column;
                background: #064087;
                padding: 30px 50px;
                top: 0;
                left: 0;
                margin-top: 75px;
                transform: translateX(-100%);
                transition: transform 0.3s ease-in-out;
                border-radius: 20px;

                li {
                    font-size: 20px;
                }
            }



            li {
                .home {
                    white-space: nowrap;
                }

                a {
                    color: white;
                }
            }
        }

        &-menu.active {
            top: 0;
            left: 0;
            margin-top: 75px;
            padding: 30px 50px;
            transform: translateX(0);
            border-radius: 20px;

            li {
                font-size: 20px;
            }
        }

        &-contact {
            width: 205px;
            height: 45px;
            background-color: #09694c;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9px;
            border-radius: 4px;

            @media screen and (max-width: 1200px) {
                display: none;
            }

            a {
                color: white;
            }
        }
    }
}