.header {
    display: flex;
    justify-content: center;
    background-color: #064087;

    &__navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media screen and (max-width: 1640px) {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 200px;
        }

        @media screen and (max-width: 1640px) {}

        &-menu {
            display: flex;
            align-items: center;
            gap: 35px;

            li {
                a {
                    color: white;
                }
            }
        }

        &-contact {
            width: 205px;
            height: 45px;
            background-color: #09694c;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9px;
            border-radius: 4px;

            a {
                color: white;
            }
        }
    }
}