.services {
    display: flex;
    justify-content: center;
    padding-top: 240px;
    padding-bottom: 100px;

    &__container {
        &-title {
            margin-bottom: 60px;

            @media screen and (max-width: 991px) {
                padding-top: 80px;
            }

            h2 {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 15px;

                @media screen and (max-width: 1200px) {
                    text-align: center;
                }

                @media screen and (max-width: 768px) {
                    font-size: 30px;
                }
            }

            p {
                font-size: 18px;
                line-height: 1.3;

                @media screen and (max-width: 1200px) {
                    text-align: center;
                }

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }

        &-cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;

            @media screen and (max-width: 1200px) {
                display: flex;
                flex-direction: column;
                width: 70%;
                flex-wrap: wrap;
                justify-self: center;
            }

            @media screen and (max-width: 768px) {
                width: 85%;
            }

            .service-card{
                display: flex;
                max-height: 256px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.15);
                    
                }

                .card-image{
                    height: 100%;
                    width: 40;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .card-info{
                    padding: 20px;
                    width: 60%;
                    background-color: #F3F3F3;

                    .card-title{
                        h3{
                            font-size: 24px;
                            font-weight: 700;
                            margin-bottom: 15px;

                            @media screen and (max-width: 768px) {
                                font-size: 22px;
                            }
                        }
                    }

                    .card-text{
                        p{
                            font-size: 14px;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}
