.why{
    display: flex;
    justify-content: center;
    background-color: #e9f6ff;

    &__content{
        padding-top: 80px;
        padding-bottom: 80px;

        @media screen and (max-width: 1400px) {
            padding-bottom: 450px;
        }

        &-text{

            @media screen and (max-width: 1400px) {
                text-align: center;
            }

            h2{
                font-weight: 700;
                font-size: 40px;
                padding-bottom: 25px;

                @media screen and (max-width: 768px) {
                    font-size: 30px;
                }
            }
            p{
                font-weight: 400;
                font-size: 18px;
                padding-bottom: 30px;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }

        &-cards{
            display: flex;
            flex-direction: row;
            gap: 70px;
            height: 190px;

            @media screen and (max-width: 1400px) {  
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .why__content-cards > div {
                    flex: 0 0 50%;
                }
            }

            @media screen and (max-width: 991px) {
                flex-wrap: nowrap;
                flex-direction: column;
                gap: 35px;
                padding-top: 400px;
            }

            h3{
                font-weight: 600;
                font-size: 25px;
                padding-bottom: 8px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                color: #616265;
            }

            &-card1{
                background-color: #fafafa;
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20px;
                padding-right: 20px;
                width: 410px;
                border-radius: 8px;
                box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);

                &-icon{
                    padding-bottom: 8px;
                }

                &-text{
                    h3{
                        @media screen and (max-width: 768px) {
                            font-size: 22px;
                        }
                    }
                }
            }

            &-card2{
                background-color: #fafafa;
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20px;
                padding-right: 20px;
                width: 410px;
                border-radius: 8px;
                box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);

                &-icon{
                    padding-bottom: 8px;
                    
                }

                &-text{
                    h3{
                        @media screen and (max-width: 768px) {
                            font-size: 22px;
                        }
                    }
                }
            }

            &-card3{
                background-color: #fafafa;
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20px;
                padding-right: 20px;
                width: 410px;
                border-radius: 8px;
                box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);

                &-icon{
                    padding-bottom: 8px;
                    
                }

                &-text{
                    h3{
                        @media screen and (max-width: 768px) {
                            font-size: 22px;
                        }
                    }
                }
            }

            &-card4{
                background-color: #fafafa;
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20px;
                padding-right: 20px;
                width: 410px;
                border-radius: 8px;
                box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
                &-icon{
                    padding-bottom: 8px;
                    
                }

                &-text{
                    h3{
                        @media screen and (max-width: 768px) {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}